#container {
    display: grid;
    width:100%;
    /* height:100vh; */
    grid-template-areas:
    "hd hd hd"
    "s1 s1 s1"
    "s2 s2 s2"
    "s3 s3 s3"
    "ft ft ft";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9% auto 1fr 23% 9%;
}

header {
    display: flex;
    grid-area: hd;
    background-color: #f1f1f1;
    padding: 1%;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


#hdlogo {
    width: auto;
    height: 70%;
    margin: 0 auto;
}

#account {
    width: auto;
    height: 60%;
    margin: 0 auto;
}

#navtext {
    height: 30%;
    width: auto;
    margin: 0 auto;
    font-family: 'Alexandria', sans-serif;
    font-size: 20px;
}

#section_1 {
    align-items: center;
    display: flex;
    grid-area: s1;
    background-image: url(../img/other/headerimg1.png);
    background-size: cover;
}

#homepageimage1 {
    max-width: 100%;
    height: auto;
}

#djurfiskarmat {
    font-family: 'Alexandria', sans-serif;
    color: white;
    text-shadow: 0px 0px 10px black;
    padding-left: 5%;
    font-size: 200%;
}

#arrowincircle {
    position: relative;
    width: 5%;
    height: auto;
    left: 37%;
    top: 50%;
}

#section_2 {
    grid-area: s2;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 5%;
}

#rectangle {
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    font-family: 'Alexandria', sans-serif;
    font-weight: bold;
    height: 20%;
    width: 40%;
    padding: 2%;
    margin: 3%;
    font-size: 200%;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(174, 174, 174);
}

#rectangle2 {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Alexandria', sans-serif;
    height: 20%;
    width: 40%;
    padding: 2%;
    margin: 3%;
    font-size: 200%;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(174, 174, 174);
}

#biljetter1 {

}

#biljetter2 {

}

#tider1 {

}

#tider2 {
    
}

#section_3 {
    grid-area: s3;
    background-color: yellow;
}

footer {
    grid-area: ft;
    background-color: black;
}